*.iml
.gradle
.kotlin
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.jks
!mpscabhyas-upload-key.jks
*.keystore
MPSC_ABHYAS_APP_CREDENTIALS.txt
test_tmp_file.txt
